/* 追加: bodyをflexで中央寄せ */
body {
  display: flex;
  justify-content: center; /* 横方向の中央寄せ */
  align-items: center;     /* 縦方向の中央寄せ */
  height: 100vh;           /* 親要素の高さを100%に設定 */
  margin: 0;               /* デフォルトの余白を取り除く */
}


.calendar-container {
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    color: #1a1a1a;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
  }

  h1 {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    margin: 0;
  }
  .calendar {
    padding: 0 30px 30px 30px;
  }
  table {
    width: 100%;
  }
  th, td {
    text-align: center;
    padding: 10px;
  }
  th {
    font-weight: normal;
    font-size: 14px;
  }
  td {
    font-weight: bold;
  }
  .day *:first-child {
    color: #ff838b;
  }
  .day *:last-child {
    color: #6fb5ff;
  }

  .confirm{
    text-align: center;
  }

  .button{
    width:25px;
    box-shadow: 2px 2px 5px gray;
  }

  .circle1{
    background:rgba(29, 235, 29, 0.823);
    border-radius: 50%;
    width: 25px;
    box-shadow: 2px 2px 5px gray;
  }

  .circle2{
    background:rgba(246, 176, 101, 0.823);
    border-radius: 50%;
    width: 25px;
      box-shadow: 2px 2px 5px gray;
    }

    .selectedDay{
      border-bottom: #ff6f6f;
    }

    .timebox-container{
      display: flex; /* 横並びにする */
      flex-wrap: wrap; /* 必要なら折り返しを有効にする */
      gap: 10px; /*アイテム間のスペースを設定　*/
      justify-content: center; /*中央寄せ（必要に応じて変更）*/
      width:100%;
      margin-top: 20px;
    }


    .timebox{
      flex: 1 1 120px;
      max-width:120px;
      margin:0px 5px;
      text-align:center;
      color:#fff;
      background-color: #73b5fc;
      border-bottom: solid 6px #3f87ce;
      box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      cursor: pointer;
    }
